.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: clamp(5rem, 3.80727rem + 5.089vw, 6.25rem);
  margin-bottom: clamp(2.5rem, 1.30727rem + 5.089vw, 3.75rem);
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.5rem;
}

@media only screen and (min-width: 768px) {
  .headingContainer {
    margin-top: clamp(6.25rem, 3.39304rem + 5.952vw, 8.75rem);
    margin-bottom: clamp(3.75rem, 2.32152rem + 2.976vw, 5rem);
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
